main_*.ipynb
.ipynb_checkpoints
__pycache__
wandb/
*.png
*.pdf
*.svg
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp
.DS_Store
*.html
graphics/
*_hf/
*.pt
*_checkpoints/
openr1_math_backtracking_dataset.json